fastapi==0.104.1
uvicorn[standard]==0.24.0
motor==3.3.2
beanie==1.23.6
pymongo==4.6.1
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
bcrypt<5.0.0
python-multipart==0.0.6
pydantic==2.5.0
pydantic-settings==2.1.0
pydantic[email]==2.5.0
websockets==12.0

# # Phase 2 (CT analysis + segmentation overlays)
# numpy<2
# nibabel
# torch
# torchvision
# monai[fire,ignite]
# requests
# huggingface_hub
# scipy<1.12
# scikit-image
# trimesh
# pygltflib
